<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TALK2WORK</title>
    <meta name="description" content="TALK2WORK is a web-based carpool application for enterprise companies to help their employees save time and money, increase team building and decrease environmental pollution. Employees within one company use the app to build carpool groups in order to commute to work. The app automatically retrieves information from the cars of interested employees that are connected to the system and determines the best carpool groups according to the users' location, commute time and interests. Users simply have to use the corporate login, choose a discussion topic and decide whether they want to join a co-worker's ride or provide their own car. Everything else is done by TALK2WORK.">
    <meta name="author" content="Stefan, Tobias, Veronika, Viktoria">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style type="text/css">
      html { font-family: 'Open Sans', sans-serif; color: #474747; }

      .wall {
        margin-top: 240px;
      }

      img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      #footer { width: 850px; background-color: rgba(255, 255, 255, 0.7); border-radius: 5px; padding: 0 10px; margin: 150px auto 0 auto; }
      .powered-logo { clear: both; height: 25px; vertical-align: middle; margin: 10px; }
    </style>
  </head>

  <body style="background-image: url(img/bg4.jpg); background-size: 100%; background-repeat: no-repeat;">
    
    <div class="header" style="text-align:center;">
      <img style="padding-top: 2%; padding-left: 2%; height: 70px;" src="img/logo.png" alt="" />
    </div>

    <div style="text-align:center; margin-top: 2%;">
      <!--<img style="width: 180px;" src="img/welcome.png">-->
      <div style="text-align:center; margin-top: 20%;">
        <a href="<%= @loginurl %>"><img src="img/img_btn.png" style="width: 180px;" alt="Login"></a>
      </div>
    </div>

    <div id="footer">
      <span style="font-size: 75%;">&copy;&nbsp;2013 TALK2WORK | Powered by:</span>
      <img src="img/launch-logo.png" alt="Launch Hackathon" class="powered-logo" />
      <img src="img/carvoyant-logo.png" alt="Carvoyant" class="powered-logo" />
      <img src="img/yammer-logo.png" alt="Yammer" class="powered-logo" />
      <img src="img/digital-ocean-logo.png" alt="Digital Ocean" class="powered-logo" />
      <img src="img/twilio-logo.png" alt="Twilio" class="powered-logo" />
    </div>
</body>
</html>
