<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>talk2work</title>

    <style type="text/css">
      .wall {
        margin-top: 240px;
      }

      img.displayed {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>

  <body style="background-image: url(img/bg.jpg); background-size: 100%; background-repeat: no-repeat;">
    
    <div class="header">
      <img style="padding-top: 2%; padding-left: 2%" src="img/lg_login.png" alt="" />
    </div>

    <div style="text-align:center; margin-top: 3%;">
      <img style="width: 180px;" src="img/welcome.png">
      <div style="text-align:center; margin-top: 5%;">
        <a href="<%= @loginurl %>"><img src="img/img_btn.png" style="width: 180px;" alt="Login"></a>
      </div>
    </div>
</body>
</html>
