
h1 {
    font-family: Open Sans Light;
    color: #8B8878;
    
}
h5 {
    font-family: Open Sans Light;
    color: #8B8878;
    font-size: 12px;
    position:fixed;
   top: 82%;
  right: 52%;
  margin:-100px auto 0 -100px;  
  
}
h4 {
    font-family: Open Sans Light;
    color: #8B8878;
    font-size: 16px;
    position:fixed;
   top: 42%; right: 95%; margin:-100px auto 0 -100px;  
  
}

.centered {  
  position:fixed;
  z-index: 100;  
  top:40%;  
  right: 80%;
  margin:-100px auto 0 -100px;  
  width:200px;  
  height:200px;  
}

h3{
    position:fixed;
   top: 42%;
  right: 15%;
  margin:-100px auto 0 -100px;
   font-family: Open Sans Light;
    color: #8B8878;
    font-size: 20px;
}
.right{
    position:fixed;
   top: 48%;
  right: 15%;
  margin:-100px auto 0 -100px;
   font-family: Open Sans Light;
    color: #8B8878;
    font-size: 18px;
    }
pre.code {
    padding: 5px;
    background-color: #8A8A8A;
    border: 2px dashed gray;
}